@import "./fonts.less";
@import "./game.less";

@navitem-color: #efefef;
@navitem-hover-color: #cfcfcf;
@pane-background-color: #151515;


#main_jumbotron
{
    height: 200px;
    width: 100%;
    background-color: red;
    h1
    {
        font-family: sf_collegiate;
        font-size: 96px;
        color: white;
    }
    margin-top: -2%;
    margin-bottom: 10px;
}

h1.page-header{
    font-size:42px;
}

a.name.navbar-brand{
    color: @navitem-color;
    :hover, 
    :focus{
        color:@navitem-hover-color;
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: @navitem-color;
}



#navbar{
    border-bottom-width: 0px;
    background-color: @pane-background-color;
    div.navbar-collapse.collapse{
        background-color: @pane-background-color;
    }
}

footer{
    color: @navitem-color;
    background-color: @pane-background-color;
    ul.menu.nav{
        li{
            a{
                :hover{
                    background-color: transparent;
                }
            }
        }
    }
}
#block-hension-account-menu > ul{
    padding-right: 20px;
}
