@import 'fonts';


.jumbotron[role="presetation"]
{
    height: 200px;
    width: 100%;
    background-color: red;
    h1
    {
        font-family: sf_collegiate;
        font-size: 74px;
        color: white;
    }
}